.menu-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 20rem;
}

@media (max-width: 768px) {
  .menu-list {
    justify-content: center;
  }
}
