.custom-selector {
  height: 2.8rem;
  width: 12rem;
}

.custom-selector label {
  position: absolute;
  background: #ffffff;
  margin-top: 12px;
  margin-left: 10px;
  transition: all 0.3s;
  font-size: 14px;
  color: #909497;
}

.custom-selector__label-active {
  font-size: 12px !important;
  margin-top: -8px !important;
  margin-left: 5px !important;
  padding: 0 4px;
}

.custom-selector:hover label {
  font-size: 12px;
  margin-top: -8px;
  margin-left: 5px;
  padding: 0 4px;
}

.custom-selector select {
  height: 2.8rem;
  width: 12rem;
  border-radius: 4px;
  border-color: #909497;
  cursor: pointer;
  padding: 0 0 0 0.5rem;
}

.custom-selector select:focus {
  outline-color: #e74c3c;
}
