.product-shipping-info {
  height: 12rem;
  margin: 0.5rem;
}

.product-shipping-info__title {
  font-weight: bold;
  font-size: 18px;
}

.product-shipping-info__detail {
  font-size: 13px;
  margin: 0.6rem 0;
}

.product-shipping-info__return-policy {
  font-size: 11px;
  color: #909497;
}

.product-shipping-info__detail-item {
  margin: 0.2rem 0;
}

.product-shipping-info__detail-rate {
  font-weight: bold;
}

@media (max-width: 768px) {
  .product-shipping-info {
    height: 100%;
    margin: 0.5rem 1rem;
  }
}
