.product-reviews-info {
  height: 12rem;
  margin: 0.5rem;
}

.product-reviews-info__title {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0.2rem;
  display: flex;
}

.product-reviews-info__review-container {
  margin: 0.4rem 0.3rem 0 0.3rem;
}

.product-reviews-info__review {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.2rem 0;
  font-size: 12px;
  color: #909497;
}

.product-reviews-info__progress-bar-container {
  height: 18px;
  width: 10rem;
  border: 1px solid #d0d3d4;
  background: #ecf0f1;
  border-radius: 10px;
  margin: 0 0.5rem;
}

.product-reviews-info__progress-bar {
  height: 16px;
  background: #e74c3c;
  border-radius: 10px;
}

.product-reviews-info__rating-container {
  margin: 0 0 0.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.product-reviews-info__rating-dot-container {
  display: flex;
  margin: 0 0.5rem;
}

.product-reviews-info__rating-dot-wrapper {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0.1rem;
}

.product-reviews-info__rating-dot-1 {
  background-color: #ecf0f1;
  border-radius: 50%;
  height: 1rem;
  width: 100%;
}

.product-reviews-info__rating-dot-2 {
  background-color: #e74c3c;
  height: 1rem;
}

.home-products__title-line {
  border-bottom: 2px solid #d7dbdd;
  margin: 0 0 0.3rem 0.3rem;
}

@media (max-width: 768px) {
  .product-reviews-info {
    height: 100%;
    margin: 0.5rem 1rem;
  }
}
