.product {
  margin: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.product-info {
  width: 100%;
  min-width: 966px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.product-info__shipping {
  width: 20%;
}

.product-info__details {
  width: 50%;
}

.product-info__reviews {
  width: 30%;
}

@media (max-width: 768px) {
  .product {
    margin: 0rem;
  }

  .product-info {
    min-width: 0px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-info__shipping {
    width: 100%;
  }

  .product-info__details {
    width: 100%;
  }

  .product-info__reviews {
    width: 100%;
  }
}
