.product {
  margin: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.product-info {
  width: 100%;
  min-width: 966px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.product-info__shipping {
  width: 20%;
}

.product-info__details {
  width: 50%;
}

.product-info__reviews {
  width: 30%;
}
